# -----------------------------
# 1. Секрети та налаштування
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# 2. Python та Кеш
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# -----------------------------
# 3. Тестування (pytest)
# -----------------------------
.pytest_cache/
.coverage
htmlcov/
.tox/

